@font-face
{
  font-family: "px";
  src: url(mc.ttf);
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #171718;
  cursor: none;
  font-smooth: never;
  -webkit-font-smoothing : none;
  font-family: "px";
}

#loading {
  color: rgba(255,255,255,0.4);
  position: absolute;
  top: 45%;
  width: 100%;
  text-align: center;
  font-size: 12px;
}

.hidden {
  display: none;
}

.anchor-label {
  fill: rgba(255,255,255,0.5);
  font-family: "px";
  font-size: 8px;
}

.anchor-label.strong {
  fill: rgba(255,255,255,0.7);
}

line.buy, line.sell {
  stroke-width: 3px;
}

line.buy {
  stroke: rgba(255, 255, 255, 0.2);
}

line.sell {
  stroke: rgba(197,28,28,0.3);
}

.sar {
  fill: #6f9eaf;
}

body.hide-sar .sar {
  display: none;
}

.kumo {
  fill: rgba(255,255,255,0.05);
}

.senkou-span-a {
  stroke: rgba(255,255,255,0.4);
}

.senkou-span-b {
  stroke: rgba(197,28,28,0.3);
}

body.hide-kumo .kumo,
body.hide-kumo .senkou-span-a,
body.hide-kumo .senkou-span-b {
  display: none;
}

.tenkan-sen {
  stroke: #3d5e73;
}

.kijun-sen {
  stroke: #502b5a;
}

body.hide-tenkan-kijun .tenkan-sen ,
body.hide-tenkan-kijun .kijun-sen {
  display: none;
}
