/* CAUTION: QUCKLY-WRITTEN CSS **********************/

@font-face
{
  font-family: "px";
  src: url(mc.ttf);
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #171718;
  cursor: none;
  font-smooth: never;
  -webkit-font-smoothing : none;
  font-family: "px";
}

#loading {
  color: rgba(255,255,255,0.4);
  position: absolute;
  top: 45%;
  width: 100%;
  text-align: center;
  font-size: 12px;
}

/* LEGEND **********************/

#legend {
  position: fixed;
  top: 10px;
  left: 10px;
  background: rgba(10,10,10,0.95);
  padding: 10px;
  color: rgba(255,255,255,0.7);
  font-size: 8px;
}

#series {
  float: left;
}

body.hide-legend #legend {
  display: none;
}

#legend h2 {
  margin: 0 0 5px 0;
  font-size: 8px;
}

.legend-line__example {
  display: inline-block;
  margin: 3px 0;
  height: 1px;
  width: 20px;
}


.legend-line__example--kumo {
  display: inline-block;
  height: 6px;
  background: rgba(255,255,255,0.1);
  border-top: 1px solid rgba(255,255,255,0.4);
  border-bottom: 1px solid rgba(197,28,28,0.3);
  width: 20px;
}

.example--tenkan-sen {
  background: #3d5e73;
}

.example--kijun-sen {
  background: #502b5a;
}

.example--chikou-span {
  background: #25341f;
}

.example--parabolic-sar {
  background: url(data:image/png;base64,R0lGODlhBgABAJEAAAAAAP///3Odsf///yH5BAEAAAMALAAAAAAGAAEAAAID1H4FADs=);
}

label {
  display: inline-block;
  margin: 4px 0 4px 4px;
}

#hotkeys {
  margin-left: 10px;
  float: right;
}

.hotkey {
  border: 1px solid rgba(255,255,255,0.3);
  width: 14px;
  padding: 1px;
  text-align: center;
  margin: 3px auto;
}

#hotkey-i {
  margin: 13px auto;
}


/* CROSSHAIR **********************/

.hidden {
  display: none;
}

.anchor-label {
  fill: rgba(255,255,255,0.5);
  font-family: "px";
  font-size: 8px;
}

.anchor-label.strong {
  fill: rgba(255,255,255,0.7);
}

/* CHART **********************/

line.buy, line.sell {
  stroke-width: 3px;
}

line.buy {
  stroke: rgba(255, 255, 255, 0.2);
}

line.sell {
  stroke: rgba(197,28,28,0.3);
}

.sar {
  fill: #6f9eaf;
}

body.hide-sar .sar {
  display: none;
}

.kumo {
  fill: rgba(255,255,255,0.05);
}

.senkou-span-a {
  stroke: rgba(255,255,255,0.4);
}

.senkou-span-b {
  stroke: rgba(197,28,28,0.3);
}

body.hide-kumo .kumo,
body.hide-kumo .senkou-span-a,
body.hide-kumo .senkou-span-b {
  display: none;
}

.tenkan-sen {
  stroke: #3d5e73;
}

.kijun-sen {
  stroke: #502b5a;
}

body.hide-tenkan-kijun .tenkan-sen ,
body.hide-tenkan-kijun .kijun-sen {
  display: none;
}

body.hide-chikou .chikou-span {
  display: none;
}

.chikou-span {
  stroke: #25341f;
}

